@mixin font ($size, $height, $weight, $style:normal){
  font-size: $size;
  font-style: $style;
font-weight: $weight;
line-height: height;
}

// @mixin tool ($flex:flex, $direction:column, $justify: center) {
//   display:$flex;
//   flex-direction:$column;
//   justify-content:$center;
// }
@mixin media-smail {
  @media (max-width:$mobile-smal-width){@content; }
}