

.wrapper__transformation{

  padding: 207px 0px 0px 0px ;
  display: flex;
  flex-wrap: wrap;
  width: 1222px;
  flex-direction: column;
  position: relative;
  @include media-smail{
    overflow: hidden;
    position: relative;
    margin: 0px 0px 0px 100px ;
    padding: 0px 0px 0px 0px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
}
.transformation__title{
  position: relative;
  // padding-top: 102px;
  margin: -6px 0px 0px 0px;
  // width: 806px;
  position: relative;
  display: flex;
  
  height: 130px;
  // border: 1px solid red;
@include media-smail{
  height: 193px;
width: 335px;
padding-top: 100px;
padding-left: 14px;
// }
}

}

.transformation__wasicov{
    font-family: 'Merriweather';
font-size: 53px;
font-weight: 400;
line-height: 61px;
letter-spacing: 0px;
text-align: left;

@include media-smail{
  font-size: 36px;
  line-height: 39px;
}
}

.br-dextop{
  display: block;
    @include  media-smail{
      display: none;
    }
  }




.br-mobile{
  display: none;
  @include media-smail{
    display: block
  }
}



.Future__sources{
  font-family: Golos Text;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
@include media-smail{
font-size: 18px;
br{
  // display: none;
}

}

}
.transformation_link{
  position: absolute;
  bottom: 7%;
  left: 24.5%;
  line-height: 1;
  // border: 1px solid red;
@include media-smail{
  width: 323px;
  display: flex;
  bottom: 4%;
  left: 5.5%;
  display: block;
  white-space: nowrap;
  
} 
}

.airplane-icone{
  width: 100%;
  z-index: 11;
  right: -72%;
  position: absolute;
  bottom: -2% ;

  @include media-smail{
    z-index: 11;
    right: 0%;
    position: absolute;
    bottom: 35%;
    transform: rotateY(-34deg);
}
}

  // display: none;






.layout-3-column-grid{
  position: relative;

  margin-top: 48px;
  display: grid;
  // border: 1px solid red;
  height: 400px;
  left: 0px !important;
  grid-template-columns: repeat(3, 394px);
  grid-template-rows: repeat(3, 112px);
  grid-gap: 20px;
 
// }
@include media-smail{
  position: relative;
width: 1775px;
  grid-template-columns: repeat(7, 333px);
  grid-template-rows: repeat(0,239px);
  height: 270px;
  // border: 1px solid red;
transition: 0.4s;
  // grid-row: 0px;
  // grid-gap: none;
// grid-row: 0px;
height: 300px;
row-gap: 0px;
column-gap: 39px;
margin-top: 136px;
// left: 20px;
margin-left: 20px;

}

}



.icon-numbering {
  // border: 1px solid red;
  width: 36px;
  height: 36px;
  background-color:$color-text-string;
  align-items: center;
  display: flex;
  justify-content: center;

 
  border-radius: 50px;
}
.tool__icon-second{
  padding: 0px 8px 2px 8px;
  display: flex;
  justify-content: space-around;
  font-family: Golos Text;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
@include media-smail{
line-height: 23px;

}
}
//________первая ячейка ________________________//
// @include tool ($flex, $direction, $justify );


.tool1{
// @include tool ($flex, $direction, $justify );
 background:$color-header-toll ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 394px;
  height: 112px;
  grid-row: 1;
  grid-column: 1;
  font-family: Golos Text;
@include media-smail{
    // grid-row: 1;
  grid-column: 1;
  grid-row: 1;
  width: 335px;
  height: 185px;
}

// font-size: 20px;
// font-weight: 500;
// line-height: 24px;
// letter-spacing: 0px;
// text-align: start;
}
.colom{
  // border: 1px solid red;
  z-index: 10;
  color: $color-text;
  width:299px;
  height: 65px;
  font-size: 20px;
@include font (20px,24px, 500 );

  @include media-smail{
    width:247px ;
@include font (18px,23px, 400 );

  }

width:302px ;
 
 }
//_______2____________________________//
.tool2{

  display: flex;
  flex-direction: column;
  justify-content: center;
  background:$color-header-toll ;

  // border: 1px solid rgb(67, 15, 237);
  width: 394px;
  height: 112px;
  grid-row: 1;
  grid-column: 2;
@include media-smail{
    grid-row: 2;
  grid-column:1;
  width: 335px;
  height: 185px;
}

}

.tool__icon-third{
display: flex;
justify-content:center;
gap:16px;
font-family: Golos Text;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0px;
text-align: left;
// padding-top: 2px;

}
//_______3___________________________________//
.tool3{

  display: flex;
  flex-direction: column;
align-items: center;
  justify-content: center;
  background:$color-header-toll ;
  // border: 1px solid rgb(67, 15, 237);
  width: 394px;
  height: 239px;
  grid-row: 1/6;
  grid-column: 3;
@include media-smail{
  grid-row: 1;
  grid-column: 2;
  width: 335px;
  height: 300px;
  margin-left: -17px
}


}
.tool__icon-fourth{
  display: flex;
  padding-bottom: 32%;
flex-direction: row;
gap: 17px;
font-family: Golos Text;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
@include media-smail{
  padding-bottom: 38%;
  font-size: 17px;
line-height: 22px;

}
}
//_________4__________________________//
.tool4{
  background:$color-header-toll ;
  display: flex;
  flex-direction: column;
align-items: center;
  justify-content: center;
  // border: 1px solid rgb(67, 15, 237);
  width: 394px;
  height: 112px;
@include media-smail{
  grid-column: 3;
  grid-row: 1;
  width: 335px;
  height: 185px;
  margin-left: -33px;
}
  
}
.tool__icon-five{
  display: flex;
  justify-content:center;
  gap:16px;
  font-family: Golos Text;
  font-size: 20px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;


}

//___________5___________________________//
.tool5{
  background:$color-header-toll ;
  display: flex;
  flex-direction: column;
align-items: center;
  justify-content: center;
  // border: 1px solid rgb(67, 15, 237);
  width: 394px;
  height: 112px;
  @include media-smail{
    grid-column: 3;
    grid-row: 2;
    width: 335px;
    height: 185px;
    margin-left: -33px;
  
  }

}
.tool__icon-sixth{
  display: flex;
  justify-content:center;
  gap:16px;
  font-family: Golos Text;
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
@include font (20px,24px, 500 );

  @include media-smail{
margin-bottom: 93px;
@include font (19px,24px, 500 );

  }
}

//_____________6______________________//
.tool6{
  padding-top: 21px;
  // padding-bottom: 2px;
  // margin-left: 8px;
  // padding: 0px 0px 0px 0px;
  background:$color-header-toll ;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  // border: 1px solid rgb(67, 15, 237);
  width: 394px;
  height: 117px;
  // grid-row: 3;
  // grid-column: 2;
  // margin-left: 24px;
  @include media-smail{
    margin-left: -56px;
    width: 335px;
    height: 242px;
  padding: 56px 0px 0px 7px;

   
  }

}
.tool__icon-seventh{
//  margin-top: -6px;
  // padding: 0px 0px 0px 0px;
  // margin-bottom: 16px;
  display: flex;
  // justify-content:center;
  gap:16px;
  font-family: Golos Text;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  @include media-smail{
    line-height: 23px;
  padding: -3px 0px 0px 0px;
  // font-size: 19px !important;
  line-height: 23px;
letter-spacing: 0.3px;


  }
  
}

//________7___________________________//

.tool7{
  padding-left: 26px;
  background:$color-header-toll ;
  display: flex;
  flex-direction: row;
align-items: center;
  // border: 1px solid rgb(67, 15, 237);

  width: 790px;
  height: 136px;
  @include media-smail{
    width: 323px;
    height: 296px;
    padding:4px;
    margin-left: -50px;
  }

  // grid-row: 2/3;
  // grid-column: ;
}
.tool__icon-seventhh{
  margin-left: 26px;
  padding: 0px 0px 0px 0px;
  display: flex;
  justify-content:center;
  gap:16px;
  font-family: Golos Text;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  @include media-smail{
letter-spacing: 0.3px;
line-height: 23px;
  }
}
.colom-7{
  width: 446px;
  height: 96px;
@include font (20px,24px, 500 );

  @include media-smail{
    padding: 0px 0px 14px 0px ;
    // width: auto;
    // height: auto;
    letter-spacing: 0.3px;
    width: 243px;
    height: 176px;
@include font (17px,23px, 500 );
  }
  // border: 1px solid red;

}














.btn__slider2{
z-index: 20;
  // position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // bottom: -28%;
  // left: 3%;
  // border:1px solid red;
  width: 178px ;
  height: 36px ;
  display: none;
  @include media-smail{
    margin: 23px 0px 0px 100px;
    // border:1px solid red;
    width: 178px ;
    height: 36px ;
    display: flex;
  }
}






.dots2{
  display: flex;
  width: 74px;
  justify-content: space-between;
  align-items: center;
  height: 10px;
  // border:1px solid red;

  .dot2{
width: 9px;
height: 9px;
border-radius: 50px;
background: #D9D9D9;
// border:1px solid red;

  }
.active{
  background: #313131;
}



}
.button-prev2{
  position: relative;
  width: 36px ;
  height: 36px;
  border-radius: 50%;
// border:1px solid red;
background: #313131 ;

}
.prev2{
  @include media-smail{
  position: absolute;
  left: 36%;
  width: 10px;
  height: 16px ;
  top: 31%;
 background-image: url('/img/icon.svg/carusel\ button\ left.svg') ;
  background-size: cover;
  
}
}

.next2{
  @include media-smail{
  position: absolute;
  left: 41%;
  width: 10px;
  height: 16px ;
  top: 31%;
 background-image: url('/img/icon.svg/carousel\ button\ right\ \(1\).svg') ;
  background-size: cover;
  
}
}



// .button-prev2,.button-next2:hover{
//   // background-color: #FBCE51; 
//   cursor: pointer;
// }



.button-next2{
  position: relative;
// border:1px solid red;
background: #313131 ;

  width: 36px ;
  height: 36px;
  border-radius: 50%;
}
