* {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  
}
/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body{

  font-size: 1.6rem;
  
  font-family: 'Merriweather', serif;
}
// main{
//   overflow: hidden;
// }


//___table_линии в таблицы)_______________________//
.top__line{
  border-right: 1px solid #D0D0D0;
  line-height: 1.1;
   border-bottom: 1px solid #D0D0D0;
// width: 70%;
}
.botto__line{
// width: 70%;
// width: 500px;
  border-bottom: 1px solid #D0D0D0;
  padding-right: 2px;
  // margin-left: 26px;
}
//_________________________________________//
h1{
  text-align: start !important;
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Merriweather;
  line-height: 1.1;
  // font-size: 60px;
  // font-style: normal;
  // font-weight: 400;
  // line-height: 110%; /* 66px */
  text-transform: uppercase;
text-align: center;

  @include font ( 60px,130%, 400,);
  // @include font(60px, 110%, 400,);
  @include media-smail{
    @include font(36px, 39.6px, 400 )
  }
}
h2{
  color: #313131;
font-variant-numeric: lining-nums proportional-nums;
font-family: 'Merriweather';
// font-size: 36px;
// font-style: normal;
// font-weight: 400;
// line-height: 135%; /* 48.6px */
text-transform: uppercase;
  @include font (36px, 135%,400);
  @include media-smail{
    @include font(28px, 37.8px,400);
}
h3{
  color: #313131;
font-variant-numeric: lining-nums proportional-nums;
font-family: "Golos Text";
// font-size: 20px;
// font-style: normal;
// font-weight: 500;
// line-height: 120%; /* 24px */
@include font (20px,24px, 500 );
}
h4{
  font-family: "Golos Text";
// font-size: 24px;
// font-style: normal;
// font-weight: 600;
@include font (24px, 120%, 600);

}
h5{
  font-family: Golos Text;
// font-size: 20px;
// font-weight: 400;
// line-height: 24px;
// letter-spacing: 0px;
text-align: left;
@include font (20px,120%,400);


}
.span_line{
  background-color: #ffffff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.title_discription{
    font-family: 'Merriweather';
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0px;
  text-align: left;
  color: $color-span-text ;
  @include media-smail{
    font-family: 'Merriweather';
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
    width: 335px;
    height: 152px;
  }
}
}