.logo{
  margin-left: 5%;
 gap: 12px;
padding-bottom: 2px;
  display: flex;
  
  // z-index: 1;

  @include big-width{
    margin-left: 6%;
 gap: 5px ;

  }
  @include media-smail{
    gap: 3px;
    margin-left: 5%;
  }
  
}
.link_horse{
  display: flex;
  gap: 12px;
  z-index: 15;
 
  @include big-width{
    gap: 4px;
  }
  @include media-smail{
    margin: 0px 0px 0px 0px ;
    justify-content: center;
   gap: 6px;
 
   }
}
