$color-string: #F54932;
$color-link:#3057A2;
$color-header-toll:#E9DED4;
$color-span-text:$color-string;
$color-actiove:#FBCE51;
$color-text:#313131;
$color-off:#1F1F1F;
$color-text-string:#ffffff;


$content-big-width:1920px;
$content-width:1365px;
$tabile-big-width:768px;
$mobile-smal-width:377px;
$wrapper-internal:1222px;
